.index
    background-color #fafafa
    margin auto
    margin-top 50px
    text-align center
.buy
    display inline-block
    color #0070C9
.knowMore
    padding-left 10px
    display inline-block
    color #0070C9
    margin-top 10px
h3,h4
 width 80%
 text-align center
 margin auto
h3 
 font-size 15px
 font-weight normal
 margin-top 20px
